<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1 {
            color: aquamarine;
        }
        p{
          color: aquamarine;
        }
        body{
            background-color: darkslategray;
        }
    </style>
</head>
<body>
    <h1>Welcome to BusBro !</h1>
    <p>A creative Web Application to track the local Bus route</p>
    <h3>Hi {{ user }}</h3>
</body>
</html>